.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c0e3a;
}
.score-details {
  display: flex;
  justify-content: space-around;
}
.score {
  color: #fec653;
  font-size: 20px;
  font-weight: 600;
}
.score-para {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}
.logo-nav {
  width: 220px;
  height: 90px;
  margin: 8px;
}
.timer-img {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.timer-count {
  color: #fec653;
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}
.list-space {
  margin-left: 700px;
}
